h2 La empresa
img(src="/img/foto_empresa.jpg")
:markdown
  Conservas Artesanas Curricán nace como una iniciativa femenina. Somos tres mujeres que aprendimos de la gente de Burela la forma tradicional de conservar el bonito con toda su calidad, frescura y sabor.

  Decidimos poner el nombre de **Curricán** a nuestra actividad porque alude a la forma de captura de este pescado. Este arte de pesca permite capturar los peces uno a uno, sin que se golpeen ni se magulle la carne, a la vez que respeta la sostenibilidad del ecosistema marino.

  Este nombre refleja el denominador común que comparten los procesos de obtención de la materia prima y de elaboración de las conservas: la **tradición**. La manipulación, la cocción y el envasado del pescado se realizan de una forma estrictamente manual, siguiendo el método tradicional.

  Pretendemos continuar elaborando de este modo, y no de otro, esta rica conserva.

  Desde la puesta en marcha de la empresa, contamos con el respaldo de la _Xunta de Galicia_ a través de la _Consellería do Medio Rural e do Mar_ y el _Grupo de Acción Costeira_.
