div
  h2 Cómo contactar
  :markdown
    * __Dirección__: Conservas Artesanas Curricán S.L. - P.I. Camba 27880 Xove (Lugo)
    * __Teléfono__: [982 59 64 84](tel:+34982596484 "Llamar por teléfono")
    * __Email__: [currican@conservascurrican.es](mailto:currican@conservascurrican.es "Enviar un email")

div
  h2 Dónde estamos
  p.
    Estamos ubicadas en el Parque Empresarial de Camba,
    en Xove, un municipio costero de la Mariña Occidental
    de Lugo. Es un punto estratégico entre los puertos
    pesqueros de Burela, Celeiro y San Cibrao, lo que
    facilita la logística y la inmediatez en el proceso
    de manipulación y envasado del pescado.
  figure
    | <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.es/maps/ms?msa=0&amp;msid=217708588685721440865.0004d36c6821c5570a0da&amp;ie=UTF8&amp;t=m&amp;ll=43.687301,-7.536203&amp;spn=0,0&amp;output=embed"></iframe>
    small.
      Ver
      <a href="http://maps.google.es/maps/ms?msa=0&amp;msid=217708588685721440865.0004d36c6821c5570a0da&amp;ie=UTF8&amp;t=m&amp;ll=43.687301,-7.536203&amp;spn=0,0&amp;source=embed" target="_blank">Conservas Curricán S.L.</a>
      en un mapa más grande
